:root{
  --bg-color: #FFF5E0;
  --primary-color: #FF6969;
  --secondary-color: #C70039;
  --tertiary-color: #141E46;
}

@font-face {
  font-family: karabine;
  src: url(./karabinE_/karabine.ttf);
}

@font-face {
  font-family: adam-cg;
  src: url(./adam-cg-pro/ADAM.CG\ PRO.otf);
}

*,
body,
html{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body{
  background-image: url("./iSketch-mini.jpeg");
  background-repeat: repeat;
}

.flex-container{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

div#sign-up-form{
  background-color: var(--bg-color);

  width: 1200px;
  height: 90%;

  border-radius: 1rem;
  border: solid 2px var(--tertiary-color);

  display: flex;
}

div#sidebar{
  width: 400px;
  height: 100%;

  border-radius: 1rem 0 0 1rem;
  border-right: solid 2px var(--tertiary-color);

  background: linear-gradient(to bottom ,var(--primary-color), var(--bg-color),var(--primary-color));

  display: flex;
  align-items: center;
  justify-content: center;
}

div#logo{
  font-family: karabine;
  font-size: 80px;

  margin-bottom: 100px;
}

.form-content h1{
  font-family: adam-cg;
  font-weight: 100;
  font-size: 1rem;

  padding: 7rem 0 0 2rem;
}
